<style>
  #wrapper {
    width: 100%;
    height: 100%;
  }
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      width: 75%;
      height: 100%;
      float: left;
    }
    #information {
      width: 25%;
      height: 100%;
      float: left;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <div id='wrapper'>
    <div id="map"></div>
    <div id='information'>
      cmsr
      <div id='battery life'></div>
    </div>
  </div>
  
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
//socket.io setup code from https://flask-socketio.readthedocs.io/en/latest/
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var batteryLife;
    var position = {};
    var addMarker = false;
    var path = [];
    var markedPath;
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('test',function(message){
        //document.getElementById('test').innerHTML = message;
    });

    socket.on('update battery life', function(data){
        console.log(data);
        batteryLife = JSON.parse(JSON.stringify(data));
        document.getElementById('battery life').innerHTML = "Battery Life: "+batteryLife;
    });

    socket.on('position', function(position){
      console.log('creating marker...')
      var pos = JSON.parse(JSON.stringify(position))
    /*  var marker = new google.maps.Marker({
        map: map,
        position: pos
      });
      marker.setMap(map);*/
      path.push(pos);
      updatePath();
      console.log('done');
    });
    socket.on('clear', function(){
      path = [];
      markedPath.setMap(null);
    });

    socket.on('set path', function(points){
      path = JSON.parse(JSON.stringify(points));
      updatePath();
    });

    function updatePath(){
      markedPath = new google.maps.Polyline({
          path: path,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
      markedPath.setMap(map);
    }

var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"
async defer></script>